				<!-- FOOTER -->
			    <footer class="">
			        <div class="footer pt-60 pb-60" id="footer">
			            <div class="container-fluid">
			                <div class="row">
					            <!-- HORIZONTAL SEPARATE -->
								<div class="col-md-12">
									<div class="separate mb-60"></div>
								</div>
								<!-- / HORIZONTAL SEPARATE -->

			                     <div class="smartphone-fw col-sm-3 mb-30">
			                     <h6 class="heading mt-0">CONTACT DATA</h6>
			                            <address class="small">
			                                <strong>Craftbeer PH</strong><br>
			                                4 Bonifacio Avenue, Brgy Delapaz<br>
			                                Pasig City, NCR 1600<br>
			                                (02) 945-6950
			                            </address>
			                        </div>
			                    <div class="smartphone-fw col-xs-6 col-sm-4 col-md-2 mb-30">
			                        <h6 class="heading mt-0">INFORMATION</h6>
			                        <ul>
			                            <li> <a href="#"> ABOUT US </a> </li>
			                            <li> <a href="#"> FAQs </a> </li>
			                            <li> <a href="#"> Partners </a> </li>
			                        </ul>
			                    </div>

			                    <div class="smartphone-fw col-xs-6 col-sm-4 col-md-2 mb-30">
			                        <h6 class="heading mt-0">CONTACT US</h6>
			                        <ul>
			                            <li> <a href="#"> Sell with us </a> </li>
			                            <li> <a href="#"> Have questions? </a> </li>
			                        </ul>
			                    </div>

			                    <div class="smartphone-fw col-xs-6 col-sm-4 col-md-2 mb-30">
			                        <!--<h6 class="heading mt-0">ACCOUNT</h6>-->
			                        <!--<ul>-->
			                        <!--    <li> <a href="#"> Lorem Ipsum </a> </li>-->
			                        <!--    <li> <a href="#"> Lorem Ipsum </a> </li>-->
			                        <!--    <li> <a href="#"> Lorem Ipsum </a> </li>-->
			                        <!--    <li> <a href="#"> Lorem Ipsum </a> </li>-->
			                        <!--</ul>-->
			                    </div>
			     
			                    <div class="col-xs-12 col-sm-6 col-md-3">
			                        <h6 class="heading mt-0">STAY IN TOUCH</h6>

			       <!--                 <form>-->
			       <!--                     <fieldset>-->
											<!--<div class="form-group">-->
											<!--	<div class="footer-newsletter">-->
											<!--		<input class="form-control" id="firstName" placeholder="your e-mail" type="text">-->
											<!--		<button class="btn btn-link" type="button"><span class="ti-plus"></span></button>-->
											<!--	</div>-->
											<!--</div>-->
										<!--</fieldset>-->
			       <!--                 </form>-->

			                        <ul class="footer-social" data-wow-delay="0.6s">
			                            <li><a href="#" class="pull-left"><span class="ti-facebook"></span></a></li>
			                            <li><a href="#" class="pull-left"><span class="ti-twitter"></span></a></li>
			                            <li><a href="#" class="pull-left"><span class="ti-instagram"></span></a></li>
			                            <li><a href="#" class="pull-left"><span class="ti-youtube"></span></a></li>
			                        </ul>
			                    </div>
			                </div>
			            </div>
			        </div>
			        
			        <div class="footer-bottom">
			            <div class="container">
			                <p class="pull-left"> Copyright © Devbox Solutions PH. All right reserved. </p>
			            </div>
			        </div>
			    </footer>

			    <script src="/js/wow.js"></script>
	<script>
	window.jQuery || document.write('<script src="/js/jquery-1.11.2.min.js"><\/script>')
	</script>
	<script src="/js/swiper.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/jquery.countTo.js"></script>
	<script src="/js/jquery.inview.js"></script>
	<script src="/js/jquery.countdown.js"></script>
	<script src="/js/bootstrap-select.js"></script>
	<script src="/js/main.js"></script>
	<script src="/js/addToCart.js"></script>
				<!-- / FOOTER -->