<form action="/signup?apiKey=c4b0f6409c117cd17d3c7638541c2029d642d3c9e71c6343741db45765df2a2f" method="POST" class="form-horizontal pl-15 pr-15 pt-15">
    <div class="form-group">
        <div class="col-md-12">
            <input type="text" class="form-control" name="username" id="email-sign-up" placeholder="Email Address">
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <input type="password" class="form-control" name="password" id="password-sign-up" placeholder="Password">
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <input type="password" class="form-control" name="password2" id="confirm - password-sign-up" placeholder="Confirm Password">
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <input type="text" class="form-control" name="firstName" id="firstName-sign-up" placeholder="First Name">
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <input type="text" class="form-control" name="lastName" id="lastName-sign-up" placeholder="Last Name">
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <input type="text" class="form-control" name="bithDay" id="birthDay-sign-up" placeholder="Birthday">
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <input type="text" class="form-control" name="mobileNumber" id="mobileNumber-sign-up" placeholder="mobileNumber">
        </div>
    </div>
    <div class="form-group">
          <select name="sex">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="NA">Prefer Not to Disclose</option>
          </select>
    </div>
    <input type="submit" id="btn-sign-up" href="#" class="btn btn-primary"> 
</form>